[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.3"
pymysql = "*"
flask-bcrypt = "*"
werkzeug = "==2.0.3"

[dev-packages]

[requires]
python_version = "3.10"
